<div class="container-fluid helpcss">
    <div class="row">
        <div class="col-md-6">
            <div class="container" style="padding: 80px;">
                <div class="row">
                    <h3>Employer Help Center</h3>
                </div>
                <div class="row">
                    <h1>How can we help today?</h1>
                </div>
                <div class="row">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" placeholder="i'm Lokking for..." />
                            <!-- <label class="form-label" for="form1">Search</label> -->
                        </div>
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/assets/helpimage.avif" alt="" width="100%">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <h1>Popular topics</h1>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Getting started</h3>
            <div class="container">
                <div class="row">
                   <h3 id="showDialogButton">Writing effective job descriptions and titles</h3>

                    <div id="popupDialog" class="popup">
                        <div class="popup-content">
                            <span class="close" id="closeButton">&times;</span>
                            <h2>
                                Writing effective job descriptions and titles</h2>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>