<div class="notification-container" *ngIf="notifications && notifications.length > 0; else noNotifications">
  <div *ngFor="let notification of notifications" class="notification">
    <h3>{{ notification.nhead }}</h3>
    <p>{{ notification.nsubhead }}</p>
    <p>{{ notification.ndescription }}</p>
    <p>{{ notification.notisend }}</p>
  </div>
</div>

<!-- Template for no notifications -->
<ng-template #noNotifications>
  <div class="no-notifications">
    <div class="center-content">
      <img src="/assets/Screenshot-2023-08-25-110628.png" alt="No Notifications Image" class="no-notifications-image">
      <p class="no-notifications-text">No notifications right now. Check back later.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eveniet libero quae.</p>
      <button class="refresh-button" (click)="refreshNotifications()">Refresh</button>
    </div>
  </div>
</ng-template>
