<!-- video-call.component.html -->

<div class="video-call-container">
  <div class="video-area">
    <p id="notification" hidden></p>
    <div class="entry-modal" id="entry-modal">
        <p>Create or Join Meeting</p>
        <input id="room-input" class="room-input" placeholder="Enter Room ID">
        <div>
            <button (click)="createRoom()">Create Room</button>
            <button (click)="joinRoom()">Join Room</button>
        </div>
    </div>
    <div class="meet-area">
        <!-- Remote Video Element-->
        <video id="remote-video"></video>
    
        <!-- Local Video Element-->
        <video id="local-video"></video>
        <div class="meet-controls-bar">
            <button (click)="startScreenShare()">Screen Share</button>
        </div>
    </div>
  </div>

  <div class="controls-area">
    <div class="top-controls">
      <h1 class="meeting-title">Meeting Title</h1>
      <div class="meeting-status">Connected</div>
    </div>

    <div class="bottom-controls">
      <div class="participants-list">
        <h2>Participants</h2>
        <ul>
          <li>Participant 1</li>
          <li>Participant 2</li>
          <!-- Add more participants dynamically -->
        </ul>
      </div>

      <div class="chat-panel">
        <h2>Chat</h2>
        <div class="chat-container">


          <div class="chat-messages">
            <!-- Display received and sent messages here -->
            <div *ngFor="let message of messages"
              class="message {{ message.messageFrom === message.messageTo ? 'sent' : 'received' }}">
              <div class="message-content">{{ message.message }}</div>
            </div>
          </div>

          <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="message-form">
            <div class="form-group">
              <textarea id="message" formControlName="message" placeholder="Type your message..." required
                class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>