<div class="container" style="background-image: url('assets/1 (2).jpg'); background-position: center; background-repeat: no-repeat; background-size: cover; ">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="container">
                <div class="card" style="padding: 20px;">
                    <form [formGroup]="loginform" (ngSubmit)="login(loginform)" action="">
                        <input type="text" class="form-control mb-3" formControlName="userName" id="userName" placeholder="Enter User Name">
                        <input type="text" class="form-control mb-3" formControlName="userPassword" id="userPassword" placeholder="Enter Password">
                        <a class="nav-link active" aria-current="page" routerLink="/register">Register user</a>
                        <input type="submit" value="Login" class="btn btn-outline-primary form-control rounded-0">
                    </form>
                </div>
            </div>
        </div>
    
        
        
    </div>
</div>