<div class="tab-pane" id="password" role="tabpanel">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Password</h5>
        <!-- password-reset.component.html -->
        <form [formGroup]="passwordResetForm" (submit)="submitForm()">
          <div class="form-group">
            <label for="inputEmpmailid">Employee Email</label>
            <input type="email" class="form-control" id="inputEmpmailid" formControlName="empmailid">
          </div>
          <!-- <div class="form-group">
            <label for="inputPasswordCurrent">Current password</label>
            <input type="password" class="form-control" id="inputPasswordCurrent" formControlName="oldPassword">
            <small><a href="#">Forgot your password?</a></small>
          </div> -->
          <div class="form-group">
            <label for="inputPasswordNew">New password</label>
            <input type="password" class="form-control" id="inputPasswordNew" formControlName="newPassword">
          </div>
          <div class="form-group">
            <label for="inputPasswordNew2">Verify password</label>
            <input type="password" class="form-control" id="inputPasswordNew2" formControlName="verifyPassword">
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>

      </div>
    </div>
  </div>