<div class="container">
    <div class="row">
        <tr *ngFor="let d of data">
            <td>{{d.juname}}</td>
            <td>{{d.juresume}}</td>
            <td>{{d.jurelocation}}</td>
            <td>{{d.jueducation}}</td>
            <td>{{d.juexperience}}</td>
            <td>{{d.juexpinjava}}</td>
            <td>{{d.juexpjsp}}</td>
            <td>{{d.juinterviewdate}}</td>
            <td>{{d.jujavavalid}}</td>
            <td>{{d.jujobtitle}}</td>

            <td>{{d.jucompanyname}}</td>
        </tr>
    </div>
</div>