<div class="container text-center">
    <h1>Job Posted </h1>
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <!-- <th>Job ID</th> -->
                <th>Job Title</th>
                <th>Company</th>
                <th>Number of Openings</th>
                <th>Location</th>
                <th>Job Type</th>
                <th>Schedule</th>
                <th>Pay (Min)</th>
                <th>Pay (Max)</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of data">
                <!-- <td>{{ job.jobid }}</td> -->
                <td>{{ job.jobtitle }}</td>
                <td>{{ job.companyforthisjob }}</td>
                <td>{{ job.numberofopening }}</td>
                <td>{{ job.locationjob }}</td>
                <td>{{ job.jobtype }}</td>
                <td>{{ job.schedulejob }}</td>
                <td>{{ job.payjob }}</td>
                <td>{{ job.payjobsup }}</td>
                <td>{{ job.descriptiondata }}</td>
              </tr>
            </tbody>
          </table>
          
    </div>
</div>