<div class="container-fluid">
    <div class="row" style="margin: 50px auto; padding: 50px;">
      <div class="col-md-4" style="margin: 50px auto; padding: 0px;">
        <h1>Welcome to Our Website</h1>
        <p>Your awesome slogan goes here.</p>
        <a routerLink="/about" class="btn btn-primary btn-lg">Learn More</a>
      </div>
      <div class="col-md-8">
        <img src="assets/digital-support (3).jpg" alt="Hero Image" class="img-fluid">
      </div>
    </div>
  </div>
  
  
  
  
  <!-- Contact Form Section -->
  <section class="contact-form">
    <div class="container">
   
        <div class="row">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/digital-support (1).jpg" class="d-block w-100" alt="">
              </div>
              <div class="carousel-item">
                <img src="assets/Tips-for-Business-Communication-During-the-COVID-19-Crisis.jpg" class="d-block w-100" alt="">
              </div>
              <div class="carousel-item">
                <img src="assets/virtual-interviews.jpg" class="d-block w-100" alt="">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
    </div>
  </section>
  
  
  <section class="blog-posts" style="margin: 50px auto;">
    <div class="container">
        <div class="row">
            <!-- Blog Post 1 -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="assets/Indeed-Assessments.png" alt="Blog Post 1" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Blog Post Title 1</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
  
            <!-- Blog Post 2 -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="assets/01 (1).png" alt="Blog Post 2" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Blog Post Title 2</h5>
                        <p class="card-text">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
  
            <!-- Blog Post 3 -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="assets/job-website-image.jpg" alt="Blog Post 3" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Blog Post Title 3</h5>
                        <p class="card-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
  
            <!-- Add more blog posts as needed -->
  
        </div>
    </div>
  </section>
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/1 (2).jpg" alt="">
      </div>
      <div class="col-md-6 card">
        <form>
          <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
         
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputcont" class="form-label">Contact Number</label>
            <input type="tel" class="form-control" id="exampleInputcont" aria-describedby="emailHelp">
          
          </div>
  
              <div class="mb-3">
            <label for="exampleInputmessage" class="form-label">Message</label>
            <textarea class="form-control" name="exampleInputmessage" id="exampleInputmessage" cols="30" rows="5"></textarea>
          
          </div>
     
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  
  
  
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Orage Technoogies</p>
            </div>
            <div class="col-md-6">
                <!-- Add your social media icons and links here -->
            </div>
        </div>
    </div>
  </footer>
  