<div class="container text-center" style="margin-top: 50px;">
    <div class="row">
        <h1><strong>indeed</strong></h1>
    </div>
</div>

<div class="container-fluid registerform" >
    <div class="row">
        <div class="container">
            <div class="row">
                <h1 class="text-center">Ready to take the next step?</h1>
                <div class="col-md-3">
        
                </div>
                <div class="col-md-6">
                    <div class="container custom-box">
                        <div class="row">
                            <h1>Register Now</h1>
                            <div class="col-md 6">
                                <form [formGroup]="userregister" (ngSubmit)="userRegisteration(userregister)">
        
        
                                    <div class="form-group">
                                        <label for="userFirstName">First Name:</label>
                                        <input type="text" id="userFirstName" formControlName="userFirstName" class="form-control"
                                            required>
                                    </div>
        
        
                                    <div class="form-group">
                                        <label for="userLastName">Last Name:</label>
                                        <input type="text" id="userLastName" formControlName="userLastName" class="form-control"
                                            required>
                                    </div>
        
        
                                    <div class="form-group">
                                        <label for="userName">Email:</label>
                                        <input type="email" id="userName" formControlName="userName" class="form-control"
                                            required>
                                    </div>
        
                                    <div class="form-group">
                                        <label for="userPassword">Password:</label>
                                        <input type="password" id="userPassword" formControlName="userPassword" class="form-control"
                                            required>
                                    </div>
        
        
                                    <div class="form-group">
                                        <label for="companyuser">Company Name:</label>
                                        <input type="text" id="companyuser" formControlName="companyuser" class="form-control"
                                            required>
                                    </div>
        
        
                                    <div class="form-group">
                                        <label for="websiteuser">Website URL:</label>
                                        <input type="text" id="websiteuser" formControlName="websiteuser" class="form-control"
                                            required>
                                    </div>
        
        
                                    <div class="form-group">
                                        <label for="userphone">Phone:</label>
                                        <input type="tel" id="userphone" formControlName="userphone" class="form-control"
                                            required>
                                    </div>
        
                                    <div class="form-group">
                                        <label for="country">Country:</label>
                                        <select id="country" formControlName="usercountry" class="form-control" required>
                                            <option value="">Select a country</option>
                                            <option value="usa">United States</option>
                                            <option value="canada">Canada</option>
                                            <option value="uk">United Kingdom</option>
                                            <!-- Add more options here -->
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="state">State:</label>
                                        <select id="stae" formControlName="userstate" class="form-control" required>
                                            <option value="">Select a country</option>
                                            <option value="usa">United States</option>
                                            <option value="canada">Canada</option>
                                            <option value="uk">United Kingdom</option>
                                            <!-- Add more options here -->
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="city">City:</label>
                                        <select id="city" formControlName="usercity" class="form-control" required>
                                            <option value="">Select a country</option>
                                            <option value="usa">United States</option>
                                            <option value="canada">Canada</option>
                                            <option value="uk">United Kingdom</option>
                                            <!-- Add more options here -->
                                        </select>
                                    </div>
        
        
        
        
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
        
        
                </div>
            </div>
        </div>
    </div>
</div>




<tr *ngFor="let d of data">
    <td>{{d.userName}}</td>
    <td>{{d.passuser}}</td>

</tr>